@media (max-width: 1200px){
    .logo {
        padding-top: 230%;
    }
}

@media (max-width: 1024px){ 
    .logo {
        padding-top: 185%;
    }
}

@media (max-width: 768px){
    .logo {
        padding-top: 190%;
    }
}

@media (max-width: 480px){
    .logo {
        padding-top: 155%;
    }
}

@media (max-width: 320px){
    .logo {
        padding-top: 325%;
    }
}
