<!DOCTYPE html>
<html>
  <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <!-- ESTILOS PROPIOS -->
      <link type="text/css" rel="stylesheet" href="../css/mediaQuerys.css" />
      <!-- <link type="text/css" rel="stylesheet" href="css/indexStyle.css" /> -->
      <link type="text/css" rel="stylesheet" href="../css/signInStyle.css" />
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
      <title> ex Lyft App</title>
  </head>

  <body id="signIn-video">
    <section class="container">
        
        <section class="row" >
            <div class="col s12">
                <div class="col s4"></div>
                    <div class="col s4">
                        <img class="logo" src="../assets/img/logo-white.png" />
                    </div>
                <div class="col s4"></div>
            </div>
        </section>
       
        <section class="row">
            <section class="col s12">
               <div class="contenedor-btn">
                    <button class="btn-inLine">Log in</button>
                    <button class="btn-gradient">Sign up</button>
               </div>
            </section>
        </section>
        
    </section>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
